# Gujarat Circle Rates

<b> Mechanism:</b> Using OCR to extract tables (n=1407) and looping subsequent data cleaning.

#### Importing libraries

In [1]:
import pandas as pd
import camelot as cm
import os

#### Generating DataFrame by OCR

In [2]:
df = cm.read_pdf(r"C:\LargeFiles\Data\Tableify\guj_circlerates.pdf", pages='all')

In [3]:
df

In [ ]:
sum([x.parsing_report['accuracy'] for x in df]) / len(df)

#### (Optional) Writing raw tables to disk

In [9]:
# df[0].to_csv(r"C:\LargeFiles\Data\Tableify\tabula_read_1.csv")

In [24]:
i = 0
for d in df:
    i+=1
    d.to_csv(f"C:/LargeFiles/Data/Tableify/tabula_read_{i}.csv")

#### (Optional) Merging raw tables into single file

In [9]:
fil = [x.path for x in os.scandir(r"C:\LargeFiles\Data\Tableify\Data_Raw")]

In [10]:
dfs = []
for f in fil:
    df = pd.read_csv(f)
    dfs.append(df)

In [11]:
data = pd.concat(dfs, ignore_index=True)

In [12]:
data.to_csv(r"C:\Users\ritwi\Dropbox\Ritwiz\Circle_Rates\Gujarat\gujarat_circle_rates_merged.csv")

#### Cleaning process for every table

<i>Checking process on one table</i>

In [14]:
i = 434
raw_tab = df[i].df
tab = raw_tab[4:].copy()
tab.rename(columns={0:"SurveyNo",
                   1:"CircleRate1",
                   2:"CircleRate2",
                   3:"CircleRate3",
                   4:"CircleRate4",
                   5:"Col5Notes"}, inplace=True)
tab.CircleRate1 = tab.CircleRate1.str.split("/").str[0]
tab.CircleRate2 = tab.CircleRate2.str.split("/").str[0]
tab

,SurveyNo,CircleRate1,CircleRate2,CircleRate3,CircleRate4,Col5Notes
4,"10, 11.",263050,323750,,,"HL<,F D]bIq\nVgI HL<,F\nDFU"" p%FZ"
5,"261, 262/1, 263/3, 289, 292, 295.",283290,335890,,,"HL<,F D]bIq\nVgI HL<,F\nDFU"" p%FZ"
6,288.,263050,315660,,,"HL<,F D]bIq\nVgI HL<,F\nDFU"" p%FZ"
7,"296, 340, 345, 346.",275190,315660,,,"HL<,F D]bIq\nVgI HL<,F\nDFU"" p%FZ"
8,"337, 347.",283290,323750,,,"HL<,F D]bIq\nVgI HL<,F\nDFU"" p%FZ"
9,"6, 7, 8, 9, 331, 332, 333, 335.",275190,323750,,,"HL<,F D]bIq\nVgI HL<,F\nDFU"" p%FZ"
10,"-/213TO214, 141, 142, 156, 159, 160, 161,\n162...",263050,315660,,,;FDFgI
11,"-/662TO663, 329, 544, 546, 547, 548, 549,\n550...",275190,315660,,,;FDFgI
12,"-/735TO739, 370, 710, 711, 712, 713, 714,\n719...",222580,242820,,,;FDFgI
13,"-/787TO973, 3, 4, 5, 237/1, 325, 326, 327,\n32...",222580,283290,,,;FDFgI

<i>Writing loop for all tables</i>

In [25]:
df[98].df

,0,1,2,3,4,5
0,"Rs.per acre\nSURAT\nHL<,F P\nTF,]SFP\nBARDOLI ...",,,,,
1,";""J[ G\AZ",B[TL HDLG,,,,
2,,lAGl%FIT,l%FIT,lAGB[0F^F%FF+\nBZFAF,BlGH TtJMJF/L,
3,,,,,,
4,"391, 395.",809380/-\n(200/-),849850/-\n(210/-),,,"ZFQ8LIqZFHI\nnMZLDFU""\np%FZ"
5,"-/112TO145, 28, 41, 42, 43, 44, 45, 105,\n106,...",647500/-\n(160/-),801280/-\n(198/-),546330/-\n(135/-),,;FDFgI
6,"-/396TO399, 400, 401, 404, 405.",687970/-\n(170/-),748670/-\n(185/-),566570/-\n(140/-),,;FDFgI
7,"-/53TO56, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,\n...",748670/-\n(185/-),801280/-\n(198/-),546330/-\n(135/-),,;FDFgI
8,"1, 2, 3, 4, 58, 59, 67.",748670/-\n(185/-),809380/-\n(200/-),546330/-\n(135/-),,;FDFgI
9,"147, 149, 151, 153, 157, 221, 222, 223.",647500/-\n(160/-),809380/-\n(200/-),404690/-\n(100/-),,;FDFgI
10,"150, 152, 158, 160, 161, 162, 213.",748670/-\n(185/-),809380/-\n(200/-),404690/-\n(100/-),,;FDFgI
11,"159, 163, 164, 165, 166, 201, 203.",647500/-\n(160/-),748670/-\n(185/-),404690/-\n(100/-),,;FDFgI
12,"167, 168, 169, 170, 171, 172, 173, 199, 200,\n...",647500/-\n(160/-),748670/-\n(185/-),445160/-\n(110/-),,;FDFgI
13,"174, 176, 184, 186, 187.",647500/-\n(160/-),748670/-\n(185/-),497770/-\n(123/-),,;FDFgI
14,"175, 177, 178, 185.",647500/-\n(160/-),748670/-\n(185/-),546330/-\n(135/-),,;FDFgI
15,"179, 180, 181, 182, 183.",497770/-\n(123/-),546330/-\n(135/-),445160/-\n(110/-),,;FDFgI
16,"188, 194, 195.",700110/-\n(173/-),748670/-\n(185/-),497770/-\n(123/-),,;FDFgI
17,"189, 190, 191, 192.",700110/-\n(173/-),748670/-\n(185/-),679880/-\n(168/-),,;FDFgI
18,"193, 297, 298, 299.",700110/-\n(173/-),748670/-\n(185/-),396600/-\n(98/-),,;FDFgI
19,"196, 197, 198.",748670/-\n(185/-),809380/-\n(200/-),497770/-\n(123/-),,;FDFgI
20,"206, 208, 209.",647500/-\n(160/-),748670/-\n(185/-),396600/-\n(98/-),,;FDFgI
21,"207, 295, 296, 300, 301, 302.",748670/-\n(185/-),809380/-\n(200/-),396600/-\n(98/-),,;FDFgI
22,"210, 291, 294, 303, 305, 307.",445160/-\n(110/-),546330/-\n(135/-),396600/-\n(98/-),,;FDFgI
23,"211, 212, 214, 229, 275, 282, 283, 284, 285,\n...",445160/-\n(110/-),546330/-\n(135/-),404690/-\n(100/-),,;FDFgI

In [ ]:
for x in df:
    if list(x.columns)

In [27]:
merge = []
ctr = 0
for x in df:
    if len(x.df)<3:
        continue
    raw_tab = x.df
    tab = raw_tab[4:].copy()
    tab.rename(columns={0:"SurveyNo",
                       1:"CircleRate1",
                       2:"CircleRate2",
                       3:"CircleRate3",
                       4:"CircleRate4",
                       5:"Col5Notes"}, inplace=True)
    tab.CircleRate1 = tab.CircleRate1.str.split("/").str[0]
    tab.CircleRate2 = tab.CircleRate2.str.split("/").str[0]
    merge.append(tab)
    print(f"{ctr}", end="\r")
    ctr+=1

In [28]:
merged = pd.concat(merge, ignore_index=True)
# merged.to_csv(r"C:\Users\ritwi\Dropbox\Ritwiz\Circle_Rates\Gujarat\gujarat_circle_rates_merged.csv")
merged.to_csv(r"C:\LargeFiles\Data\Tableify\gujarat_circle_rates_merged.csv")